# Rucio Web UI container configuration options
# This is a YAML-formatted file
# Declare variables to be passed into your templates.

serviceAccountName: useroot

rucio_ca_path: /etc/grid-security/certificates
webui_certkeycombined_path: /etc/grid-security/hostcertkeycombined.pem

image:
  repository: imageregistry.fnal.gov/rucio-ams/rucio-ams-webui
  tag: latest
  pullPolicy: Always

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1

minReadySeconds: 5

exposeErrorLogs: 0

ingress:
  enabled: 0

webuiRoute:
  app: rucio-webui
  host: webui-dune-int-rucio.okd.fnal.gov
  serviceName: rucio-dune-int-rucio-ui

service:
  type: ClusterIP
  port: 443 
  targetPort: 443
  tls:
    enabled: true

monitor:
  carbon_server: "rucio-statsd"
  carbon_port: "8125"
  user_scope: "rucio_dune_okd"
  enable_metrics: "True"

logging:
  log_level: 0

#persistentVolumes:
#  rucio-logs:
#    name: "pv-rucio-dune-logs"
#    mountPath: /rucio/logs

httpd_config:
  log_dir: "/rucio/logs"

config:
  policy:
    package: fermilab.dune
    support: "Brandon White <bjwhite@fnal.gov>"
    lfn2pfn_algorithm_default: DUNE

optional_config:
  experiment: Uses $EXPERIMENT 
  policy_pkg_dir: /opt/rucio/permissions
  metacat_server_url: https://metacat.fnal.gov:9443/dune_meta_demo/app
  metacat_auth_server_url: https://metacat.fnal.gov:8143/auth/dune
